.w3-container {
	padding-left: 16px;
	padding-right: 16px;
}

.jumbotron {
	background-image: url("jgcoverimage.png");
	    background-size: 1510px 550px;
	    width: 1510px;
	    height: 550px
}

.coverwords {
	text-align: center;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
font-family: 'Dancing Script', cursive;
size: 20000000px
}
